@import "../../assets/styles/main";

.cart {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 100%;
  background-color: rgba($white, 0.9);
  padding: 10px;
  box-shadow: 0 0 8px #898989;
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  max-height: 300px;
  transform-origin: right center;
  animation-timing-function: ease;
  border-radius: 20px;
  &-product {
    overflow-y: auto;
    line-height: 1.5;
    display: grid;
    grid-template-columns: 1fr 2fr auto;
    gap: 20px;

    img {
      max-height: 100px;
      width: auto;
      border-radius: 20px;
      border: 1px solid #ddd;
      object-fit: cover;
    }

    .card-product-title{
      font-size: 24px;
      color: rgb(88, 88, 88);
      font-weight: bold;
    }
    .card-product-price{
      color: rgb(154, 154, 154);
      font-weight: normal;
      font-size: 20px;
    }
    .count-section{
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 10px;

      button{
        padding: 10px 20px;
        background-color: #e97777; 
        display: flex; 
        align-items: center;
        justify-content: center;
        svg{
         
         
        }
      }
      .card-product-count{
        padding: 10px 20px;
        background: #c03d3d;
        color: #fff;
        border-radius: 10px;
        font-size: 15px;
      }
    }
    
    // remove btn
    .removeBtn{
      background: rgb(255, 91, 91);
    }
  }

  &-total{
    p{
      color: rgb(126, 126, 126);
      font-size: 20px;
      font-weight: bold;

      span{
        color: #333;
      }
    }
  }
}

@keyframes slideIn {
  from {
    transform: translateX(50vw);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(50vw);
  }
}