.container {
    width: 90%;
    margin: 0 auto;

    .title{
        text-align: center;
        text-transform: uppercase;
        color: rgb(255, 80, 80);
        margin-top: 50px;
    }
    .desc{
        text-align: center;
        text-transform: uppercase;
        font-weight: bold;
        margin-top: 20px;
        letter-spacing: 2px;
    }
}